name: Release Node.js app

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # ZMIEŃ PONIŻSZĄ LINIĘ!
          tags: gax36714/my-express-app:latest
# KROK 4: Powiadom Render.com, że jest nowy obraz
      - name: Trigger Render Deployment
        # Uruchom ten krok tylko wtedy, gdy poprzednie się udały
        if: success()
        # Użyj sekretu, który właśnie dodałeś
        run: curl "${{ secrets.RENDER_DEPLOY_HOOK }}"
